{% macro t(key) %}{{ {
  "language": "es",
  "edit.link.title": "Editar",
  "footer.previous": "Anterior",
  "footer.next": "Siguiente",
  "meta.comments": "Comentarios",
  "meta.source": "Source",
  "search.languages": "",
  "search.placeholder": "Buscar",
  "search.result.placeholder": "Escribe para buscar",
  "search.result.none": "No se han encontrado documentos",
  "search.result.one": "1 documento encontrado",
  "search.result.other": "# documentos encontrados",
  "source.link.title": "Ir al repo",
  "toc.title": "Tabla de contenidos"
}[key] }}{% endmacro %}